<div class="grid">
    <div class="col-12">
        <div class="xl:col-6" style="margin: auto;">
            <div class="card mb-0">
                <form>
                    <div class="flex justify-content-between" style="width: 100%;">
                        <span class="p-float-label p-input-icon-left" style="flex-grow: 1;">
                            <i class="pi pi-check-square"></i>
                            <input type="text"
                                    id="newTodo"
                                    pInputText
                                    style="width: 100%;"
                            />
                            <label for="newTodo">Add new Todo</label>
                        </span>
                        <p-button label="+ ADD" class="ml-2" type="submit"></p-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
