.justify-content-center {
    display: flex;
    justify-content: center;    
}

.spacing-top {
    margin-top: 40px;
}

.spacing-bottom {
    margin-bottom: 40px;
}

.priority {
    width: 60px; /* Adjust the width as needed */
    height: 20px;
}

.completed {
    text-decoration: line-through;
  }
  
.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}
